<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nick.accessoriestest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="dev.nick.accessoriestest.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.MediaPlayerService"/>

        <activity android:name=".media.TestsList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".media.FileImageTest"
            android:label="FileImageTest" />

        <activity
            android:name=".media.DrawableImageTest"
            android:label="DrawableImageTest" />

        <activity
            android:name=".media.VectorImageTest"
            android:label="VectorImageTest" />

        <activity
            android:name=".media.MipMapImageTest"
            android:label="MipMapImageTest" />

        <activity
            android:name=".media.ContentImageTest"
            android:label="ContentImageTest" />

        <activity
            android:name=".media.AssetsImageTest"
            android:label="AssetsImageTest" />

        <activity
            android:name=".media.NetworkImageTest"
            android:label="NetworkImageTest" />

        <activity
            android:name=".media.LoadImageTest"
            android:label="LoadImageTest" />

        <activity
            android:name=".media.SyncLoadTest"
            android:label="SyncLoadTest" />

        <activity
            android:name=".media.AssetGifTest"
            android:label="AssetMovieTest" />

        <activity
            android:name=".media.AssetVideoTest"
            android:label="AssetVideoTest" />

        <activity
            android:name=".media.NetworkMovieTest"
            android:label="NetworkMovieTest" />

        <activity
            android:name=".media.Usage"
            android:label="Usage" />

        <activity
            android:name=".media.ScrollStateTest"
            android:label="ScrollStateTest" />

        <activity
            android:name=".media.CustomAnimationTest"
            android:label="CustomAnimationTest" />

        <activity
            android:name=".media.DownloadMachine"
            android:label="DownloadMachine" />
    </application>

</manifest>
