<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nick.twenty">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TestsList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FileImageTest"
            android:label="FileImageTest" />

        <activity
            android:name=".DrawableImageTest"
            android:label="DrawableImageTest" />

        <activity
            android:name=".ContentImageTest"
            android:label="ContentImageTest" />

        <activity
            android:name=".AssetsImageTest"
            android:label="AssetsImageTest" />

        <activity
            android:name=".NetworkImageTest"
            android:label="NetworkImageTest" />

        <activity
            android:name=".LoadImageTest"
            android:label="LoadImageTest" />

        <activity
            android:name=".SyncLoadTest"
            android:label="SyncLoadTest" />

        <activity
            android:name=".AssetMovieTest"
            android:label="AssetMovieTest" />

        <activity
            android:name=".NetworkMovieTest"
            android:label="NetworkMovieTest" />

        <activity
            android:name=".Usage"
            android:label="Usage" />

        <activity
            android:name=".ScrollStateTest"
            android:label="ScrollStateTest" />

        <activity
            android:name=".CustomAnimationTest"
            android:label="CustomAnimationTest" />
    </application>

</manifest>
